/* Required for full background image */

html,
body,
header,
#intro-section {
    height: 100%;
    scroll-behavior: smooth;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    #intro-section {
        height: 100vh;
    }
}

.navbar, .page-footer {
    background-color: darkorange !important;
}

#intro-section h3 {
    font-family: Bahnschrift;
}

#about img.rounded-circle {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.my-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 50px;
    justify-items: center;
}

@media (max-width: 991px) {
    .my-gallery {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .my-gallery {
        grid-template-columns: 1fr 1fr;
    }
}


.my-gallery img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

#intro-section .intro-text-container {
    background-color: rgba(0, 0, 0, .3);
}

.software-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-items: left;
}

    .software-stack .logo {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
